<div class="post-actions-wrap">
  {{ if not (eq .Params.showActions false) }}
      <nav {{ if eq .Params.showPagination false }}style="visibility: hidden"{{ end }}>
        <ul class="post-actions post-action-nav">
          {{ if .Site.Params.swapPaginator }}
            <li class="post-action">
              {{ with .PrevInSection }}
                <a class="post-action-btn btn btn--default tooltip-big" href="{{ .RelPermalink }}" data-tooltip="{{ .Title }}">
              {{ else }}
                <a class="post-action-btn btn btn--disabled">
              {{ end }}
                  <i class="fa fa-angle-left"></i>
                  <span class="hide-xs text-small icon-ml">{{ i18n "pagination.previous" }}</span>
                </a>
            </li>
            <li class="post-action">
              {{ with .NextInSection }}
                <a class="post-action-btn btn btn--default tooltip-big" href="{{ .RelPermalink }}" data-tooltip="{{ .Title }}">
              {{ else }}
                <a class="post-action-btn btn btn--disabled">
              {{ end }}
                  <span class="hide-xs text-small icon-mr" style="margin-left: 9.4px;">{{ i18n "pagination.next" }}</span>
                  <i class="fa fa-angle-right"></i>
                </a>
            </li>
          {{ else }}
            <li class="post-action">
              {{ with .NextInSection }}
                <a class="post-action-btn btn btn--default tooltip-big" href="{{ .RelPermalink }}" data-tooltip="{{ .Title }}">
              {{ else }}
                <a class="post-action-btn btn btn--disabled">
              {{ end }}
                  <i class="fa fa-angle-left"></i>
                  <span class="hide-xs text-small icon-ml">{{ i18n "pagination.next" }}</span>
                </a>
            </li>
            <li class="post-action">
              {{ with .PrevInSection }}
                <a class="post-action-btn btn btn--default tooltip-big" href="{{ .RelPermalink }}" data-tooltip="{{ .Title }}">
              {{ else }}
                <a class="post-action-btn btn btn--disabled">
              {{ end }}
                  <span class="hide-xs text-small icon-mr" style="margin-left: 9.4px;">{{ i18n "pagination.previous" }}</span>
                  <i class="fa fa-angle-right"></i>
                </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    <ul class="post-actions post-action-share" >
      {{ if (not (eq .Params.showSocial false)) }}
        <li class="post-action hide-lg hide-md">
          <a class="post-action-btn btn btn--default btn-open-shareoptions" href="#btn-open-shareoptions">
            <i class="fa fa-share-alt"></i>
          </a>
        </li>
        {{ range .Site.Params.sharingOptions }}
          <li class="post-action hide-sm hide-xs">
            <a class="post-action-btn btn btn--default" href=
            {{ if eq .icon "fab fa-github-alt" }}
              "{{ printf .url ( replace $.File.Dir "\\" "/" ) $.Params.slug }}"
            {{ else }}
              "{{ printf .url $.Permalink }}" target="_blank"
            {{ end }}
            data-tooltip="{{ .name }}">
              <i class="{{ .icon }}"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
      {{ if and (not (eq .Params.comments false)) .Site.DisqusShortname }}
        <li class="post-action">
          <a class="post-action-btn btn btn--default" href="#disqus_thread">
            <i class="fa fa-comment-o"></i>
          </a>
        </li>
      {{ end }}
      <!-- li class="post-action">
        {{ if findRE "id=\"TOC\"" .Content }}
          <a class="post-action-btn btn btn--default" href="#TOC" data-tooltip="Back to content">
        {{ else }}
          <a class="post-action-btn btn btn--default" href="#" data-tooltip="Back to top">
        {{ end }}
          <i class="fa fa-angle-double-up"></i>
        </a>
      </li -->
      <li class="post-action">
        <a class="btn btn--default" href="#main" data-tooltip="{{ i18n "global.back_to_top" }}">
          <i class="fa fa-chevron-up"></i>
        </a>
      </li>
    </ul>
  {{ end }}
</div>