<footer id="footer" class="main-content-wrap">
  <span class="copyrights">
    <i class="fab fa-creative-commons"></i>
    <i class="fab fa-creative-commons-by"></i>
    <i class="fab fa-creative-commons-sa"></i>
    {{ now.Format "2006" }}
    (CC-BY-SA-4.0)
    <br>
    {{ with .Site.Params.footer.copyright }}
      {{ . | safeHTML }}
    {{ else }}
      {{ with .Site.Author.name }}
        {{ . }}
      {{ else }}
        {{ with .Site.Title }}
          {{ . }}
        {{ else }}
          {{ i18n "footer.all_rights_reserved" }}
        {{ end }}
      {{ end }}
    {{ end }}
  </span>
</footer>