<header id="header" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
  <div class="header-title">
    <a class="header-title-link" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
  </div>
  {{ with .Site.Params.header }}{{ if .url }}
    {{ if and (in .url ":") (not (in .url (printf "%s" $.Site.BaseURL))) }}
      <a class="{{ if .icon }}header-right-icon {{ else }}header-right-picture {{ end }}{{ with .class }}{{ . }}{{ end }}"
         href="{{ .url | safeURL }}" target="_blank" rel="noopener">
    {{ else }}
      <a class="{{ if .icon }}header-right-icon {{ else }}header-right-picture {{ end }}{{ with .class }}{{ . }}{{ end }}"
         href="{{ .url | safeURL }}">
    {{ end }}
    {{ if .icon }}
      <i class="fa-lg {{ .icon }}"></i></a>
    {{ else }}
      {{ with ($.Scratch.Get "authorPicture") }}
        <img class="header-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=90{{ end }}"/></a>
      {{ end }}
    {{ end }}
  {{ end }}{{ end }}
  {{ if and (.IsTranslated) (.Site.Params.header.icon) (not (.Site.Params.header.url)) }}
    {{ range .Translations }}
      <a class="header-right-icon" href="{{ .Permalink }}">
        <i class="fa-lg {{ .Site.Params.header.icon }}"></i>
      </a>
    {{ end }}
  {{ end }}
</header>