{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination-bar">
    <ul class="pagination">
      {{ if .Site.Params.swapPaginator }}
        <li class="pagination-prev">
          {{ if .Paginator.HasPrev }}
            <a class="btn btn--default" href="{{ .Paginator.Prev.URL }}">
          {{ else }}
            <a class="btn btn--disabled">
          {{ end }}
              <i class="fa fa-angle-left"></i>
              <span class="hide-xs text-small icon-ml">{{ i18n "pagination.older_posts" }}</span>
            </a>
        </li>
        <li class="pagination-next">
          {{ if .Paginator.HasNext }}
            <a class="btn btn--default" href="{{ .Paginator.Next.URL }}">
          {{ else }}
            <a class="btn btn--disabled">
          {{ end }}
              <span class="hide-xs text-small icon-mr" style="margin-left: 1.5px;">{{ i18n "pagination.newer_posts" }}</span>
              <i class="fa fa-angle-right"></i>
            </a>
        </li>
      {{ else }}
        <li class="pagination-prev">
          {{ if .Paginator.HasPrev }}
            <a class="btn btn--default" href="{{ .Paginator.Prev.URL }}">
          {{ else }}
            <a class="btn btn--disabled">
          {{ end }}
              <i class="fa fa-angle-left"></i>
              <span class="hide-xs text-small icon-ml">{{ i18n "pagination.newer_posts" }}</span>
            </a>
        </li>
        <li class="pagination-next">
          {{ if .Paginator.HasNext }}
            <a class="btn btn--default" href="{{ .Paginator.Next.URL }}">
          {{ else }}
            <a class="btn btn--disabled">
          {{ end }}
              <span class="hide-xs text-small icon-mr" style="margin-left: 1.5px;">{{ i18n "pagination.older_posts" }}</span>
              <i class="fa fa-angle-right"></i>
            </a>
        </li>
      {{ end }}
      <li class="pagination-number">{{ i18n "pagination.page" . }} {{ i18n "pagination.of" . }}</li>
    </ul>
  </div>
{{ end }}
