.archive-result {
    display: none;
      font-weight: 400;
      color: map-get($colors, light);
}

.archive {
    .archive-title {
        color: $font-color-base;

        &:hover {
            text-decoration: underline;
        }
    }
    .archive-posts {
        list-style: none;
          margin:   8px 0;

        .archive-post {
            .archive-post-title {
                margin-left: 10px;
                color:       $font-color-base;

                &:hover {
                    //text-decoration: underline;
                      text-decoration: none;
                }

            }
            .archive-post-date {
                color: map-get($colors, light);
            }
            // Change styl of the list by adding font-awesome icon
            &::before {
                //font-family: 'FontAwesome';
                //content:     '\f0da';
                  content:     '\2022';
                //font-size:   map-get($font-size, small);
                  font-size:   map-get($font-size, base) + 1rem;
                  color:       map-get($colors, base);
            }
        }
    }
}