// Add margin to an element
// Specifically implement for font-awesome's icons to add space between icon and text in a button
//   they were 10px
.icon-mt {
    margin-top: 6px;
}

.icon-mr {
    margin-right: 6px;
}

.icon-mb {
    margin-bottom: 6px;
}

.icon-ml {
    margin-left: 6px;
}