.pagination-bar {
    height: auto;
    width:  100%;
    height: $pagination-height;

    .pagination {
        position:    relative;
        height:      $pagination-height;
        line-height: $pagination-height;
        display:     block;
        list-style:  none;
        //padding:   0 10px;
          padding:   0;
        width:       auto;

        .pagination-prev,
        .pagination-next {
            float:          left;
            //margin-right: 10px;
              margin-right: 15px;
              a {
                  i {
                      margin: 0 3px;
                  }
                  span {
                      position: relative;
                      bottom: 1px;
                  }
              }
        }

        .pagination-number {
            float:     right;
            font-size: map-get($font-size, small);
            color:     map-get($colors, light);
        }
    }
}